/*
 *  For styling AptBrowse demo page. Sass syntax: SCSS
 */

$centerMargin: 0 auto;
$leftMargin: 100px;
$block-width: 600px;

@mixin blockAndCenter {
	width:  $block-width;
	margin: $centerMargin;
	text-align: center;
}

@mixin inlineBlockAndLeft {
	display: inline-block;
	width: 45%;
	margin: $centerMargin;
	text-align: center;
}

@mixin inlineBlockAndRight {
	display: inline-block;
	width: 45%;
	margin: $centerMargin;
	text-align: center;
}

header, nav, footer {
	@include blockAndCenter;
}

figure {
	@include inlineBlockAndLeft;
}

summary {
	@include inlineBlockAndRight;
}