/*
 *  For styling AptBrowse demo page. Sass syntax: SCSS
 */

$center: 0 auto;
$block-width: 600px;

@mixin blockAndCenter {
	width:  $block-width;
	margin: $center;
	text-align: center;
}

header, nav, footer {
	@include blockAndCenter;
}

